.card__like-button {
  background: url(../../../images/heart.svg) no-repeat center center;
  height: 19px;
  width: 21px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.card__like-button:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}
