.modal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 430px;
  margin-bottom: 120px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 425px) {
  .modal__container {
    max-width: 380px;
  }
}

@media screen and (max-width: 320px) {
  .modal__container {
    max-width: 282px;
    margin-bottom: 260px;
  }
}
