.modal__container {
  position: fixed;
  color: #000;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  max-width: 430px;
  width: 100%;
  z-index: 2;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media screen and (max-width: 425px) {
  .modal__container {
    max-width: 380px;
  }
}

@media screen and (max-width: 320px) {
  .modal__container {
    top: 34%;
    max-width: 282px;
  }
}
