@import url(../vendors/styles/normalize.css);
@import url(../vendors/fonts/inter-font.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info-edit/profile__info-edit.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__edit/profile__edit-btn.css);
@import url(../blocks/profile/__add-element-btn/profile__add-element-btn.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__container/cards__container.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__delete-button/card__delete-button.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__caption/card__caption.css);
@import url(../blocks/card/__name/card__name.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__like-button/_active/card__like-button_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/modal/modal.css);
@import url(../blocks/modal/_opened/modal_opened.css);
@import url(../blocks/modal/__container/modal__container.css);
@import url(../blocks/modal/__container/_image/modal__container_image.css);
@import url(../blocks/modal/__image/modal__image.css);
@import url(../blocks/modal/__title/modal__title.css);
@import url(../blocks/modal/__close-btn/modal__close-btn.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__fieldset/form__fieldset.css);
@import url(../blocks/form/__heading/form__heading.css);
@import url(../blocks/form/__text-input/form__text-input.css);
@import url(../blocks/form/__text-input/_error/form__text-input_error.css);
@import url(../blocks/form/__validation-error/form__validation-error.css);
@import url(../blocks/form/__validation-error/_active/form__validation-error_active.css);
@import url(../blocks/form/__submit-btn/form__submit-btn.css);
@import url(../blocks/form/__submit-btn/_disabled/form__submit-btn_disabled.css);

.card__like-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: auto 18px auto 0;
}

.card__likes {
  margin: 3px 0 0;
  font-size: 13px;
  line-height: 1.2;
  text-align: center;
  color: #000;
}

.form__heading_type_delete-card {
  margin: 0;
}

.form__submit-btn_type_delete-card {
  margin-top: 38px;
}

.profile__image-container {
  position: relative;
  margin-right: 30px;
}

.profile__image-edit {
  cursor: pointer;
  padding: 2px;
  margin: 0;
  border: none;
  background: transparent;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.profile__image-edit:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.8) url(../images/edit_image.svg) no-repeat center
    center;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
}
