.modal__close-icn {
  max-width: 48px;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

.modal__close-icn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .modal__close-icn {
    max-width: 40px;
  }
}
