@import url(../vendors/styles/normalize.css);
@import url(../vendors/fonts/inter-font.css);

.page {
  background-color: #000;
  font-family: 'Inter', arial, sans-serif;
  color: #fff;
  position: relative;
}

.page__container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.header {
  max-width: 880px;
  min-height: 119px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  align-items: center;
}

.profile {
  max-width: 880px;
  width: 100%;
  margin: 40px auto 50px;
  display: flex;
  align-items: center;
}

.profile__dashboard {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: baseline;
}

.profile__image {
  max-width: 120px;
  border-radius: 50%;
  margin-right: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile__info-edit {
  display: flex;
  align-items: center;
  column-gap: 18px;
  margin: 0 0 16px;
}

.profile__name {
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  margin: 0;
  align-self: baseline;
}

.profile__title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
}

.profile__edit {
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin-top: 6px;
  padding: 0;
  border: 1px solid #fff;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

.profile__edit:hover {
  opacity: 60%;
}

.add-element-btn {
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  max-width: 150px;
  min-height: 50px;
  width: 100%;
  border: 1px solid #fff;
  text-align: center;
  margin-left: auto;
  margin-bottom: 7px;
  padding: 0;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

.add-element-btn:hover {
  opacity: 60%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-rows: repeat(2, minmax(361px, 1fr));
  gap: 20px 17px;
  margin: 0 auto;
  max-width: 880px;
}

.card {
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__image {
  display: block;
  width: 100%;
}

.card__caption {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.card__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  margin-left: 15px;
}

.card__like-btn {
  margin-right: 18px;
  align-self: center;
}

.card__like-btn:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

.footer {
  max-width: 880px;
  margin: 68px auto 0;
}

.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  color: #545454;
  padding-bottom: 68px;
  margin: 0;
}

.modal {
  content: '';
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_opened {
  display: block;
}

.modal__container {
  position: fixed;
  color: #000;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  max-width: 430px;
  width: 100%;
  z-index: 2;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.modal__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
}

.modal__close-icn {
  max-width: 48px;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

.modal__close-icn:hover {
  opacity: 0.6;
}

.form {
  border: none;
  padding: 0;
  margin: 34px 36px 36px;
  display: flex;
  flex-direction: column;
}

.form__heading {
  margin: 0 0 41px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.form__text-input {
  padding: 0 0 13px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
  color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  outline: none;
}

.form__text-input::placeholder {
  color: #000;
  margin-top: 10px;
}

.form__text-input:not(:last-of-type) {
  margin-bottom: 30px;
}

.form__submit-btn {
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  margin-top: 48px;
  border: 0;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.form__submit-btn:hover {
  opacity: 0.8;
}
